# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Compiled binaries
ship-it-api
ship-it-syncd
ship-it-operator

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# npm Packages
web/node_modules
web/build

# Misc
*.DS_Store
*.idea
