# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Compiled binaries
^main
^ship-it-api
^ship-it-syncd
^ship-it-operator

# vendored modules
vendor/

# Test binary, build with `go test -c`
*.test

# npm Packages
web/node_modules
web/build

# Misc
*.DS_Store
*.idea
